/* .mt-8{
    margin-top: 8rem;
    background-color: azure;
    border: 1px solid #00ffff94;
    border-radius: 15px;
    padding: 20px;
    border-top-left-radius: 20px;
    vertical-align: middle;
    width: 70%;
} */

#result img{
width: 100%;
}

@media(min-width: 960px){
    #result .col-md-3 .well{
        height: 390px;
    }
    
    #result .col-md-3 img{
        height: 240px;
    }  

}

.pad6{
    padding-top: 8rem;
}

.box-shadow-hover:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  
  .pointer {
    cursor: pointer;
  }
  .list-group .list-group-item{ 
      border: 0px !important;
  }